--- start effects effects.json ---
{
	
	"__website": "{{WEBSITE}}",

	"effects": {

{{effects_values@EFFECTS}}
	}

}
--- end ---
--- start effects_values ---
		"{{NAME}}": {
			{{HAS_JAVA==true?"java": {{JAVA}},
			}}{{HAS_BEDROCK==true?"bedrock": {{BEDROCK}},
			}}"particles": "#{{COLOR_16}}"
		}{{LAST==false?,}}

--- end ---
