--- start effects effects.json ---
{
	
	"__website": "{{WEBSITE}}",

	"effects": {

{{effects_values@EFFECTS}}
	}

}
--- end ---
--- start effects_values ---
		"{{NAME}}": {
			{{HAS_MINECRAFT==true?"minecraft": {{MINECRAFT}},
			}}{{HAS_POCKET==true?"pocket": {{POCKET}},
			}}"particles": "#{{COLOR_16}}"
		}{{LAST==false?,}}

--- end ---
