--- start enchantments enchantments.json ---
{
	
	"__website": "{{WEBSITE}}",

	"enchantments": {

{{enchantments_values@ENCHANTMENTS}}
	}

}
--- end ---
--- start enchantments_values ---
		"{{NAME}}": {
			{{MINECRAFT==true?"minecraft": {{MINECRAFT_ID}},
			}}{{POCKET==true?"pocket": {{POCKET_ID}},
			}}"max": {{MAX}}
		}{{LAST==false?,}}

--- end ---
