--- start enchantments enchantments.json ---
{
	
	"__website": "{{WEBSITE}}",

	"enchantments": {

{{enchantments_values@ENCHANTMENTS}}
	}

}
--- end ---
--- start enchantments_values ---
		"{{NAME}}": {
			{{JAVA==true?"java": {{JAVA_ID}},
			}}{{BEDROCK==true?"bedrock": {{BEDROCK_ID}},
			}}"max": {{MAX}}
		}{{LAST==false?,}}

--- end ---
