--- start entities entities.json ---
{

	"__website": "{{WEBSITE}}",
	
	"entities": {

{{entities_values@ENTITIES}}
	}

}

--- end ---
--- start entities_values ---
		"{{NAME}}": {
			"object": {{OBJECT}},
			{{JAVA==true?"java": {{JAVA_ID}},
			}}{{BEDROCK==true?"bedrock": {{BEDROCK_ID}},
			}}"size": {{HAS_SIZE==false?null}}{{HAS_SIZE==true?{
				"width": {{WIDTH}},
				"height": {{HEIGHT}}
			\}}}
		}{{LAST==false?,}}

--- end ---
