--- start biomes biomes.d ---
module sul.biomes;

public struct Biome
{
	
	string name;
	ubyte id;
	float temperature;

}

public enum Biomes : Biome
{
	
{{biomes_values@BIOMES}}

}
--- end ---
--- start biomes_values ---
	{{NAME:camel_case}} = Biome("{{NAME:spaced}}", {{ID}}, {{TEMPERATURE}}f),
--- end ---
