# http://editorconfig.org
root = true

[*.d]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.json]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
